# Python Virtual Environments
.venv/
venv/
env/
__pycache__/
*.pyc

# Node JS
node_modules/
dist/
build/

# Extremely Large Files (Avoid GitHub 100MB limit and 1GB repo limit)
AgroAIdemo/models/*.pkl
AgroAIdemo/data/*.csv

# Environment variables
.env
.env.local